{% extends "base.html" %}

{% block content %}
    <div id="map" class="map"></div>
    {% csrf_token %}
    <div class="floating-panel hide">
        <div class="detail">
            <p id="floatin-map">
                <img src="/static/img/maps_2.png">
                <a href="javascript:;" id="floating-swipe">
                    <span class="glyphicon glyphicon-triangle-left" id="check-1"></span>
                </a>
            </p>
            <p id="floatin-head-2"><span>RISK MAPS</span></p>
            <p>The  blue  colors  on  the  map represent the various different levels of flood risk for that area.</p>
        </div>
        <div class="outer-info" id="outer-info">
            <div class="inner-content">
                <div class="inner-info-divs">
                    <div class="danger text-center" id='danger'>High Risk</div>
                    <p class="text">
                        On average flood will occur once every 30 years.
                        <img src="/static/img/info.png">
                    </p>
                </div>
                <div class="inner-info-divs">
                    <div class="medium text-center" id='medium'>Medium Risk</div>
                    <p class="text">
                        On average flood will occur once every 30 to 100 years.
                        <img src="/static/img/info.png">
                    </p>
                </div>
                <div class="inner-info-divs">
                    <div class="low text-center" id='low'>Low Risk</div>
                    <p class="text">
                        On average flood will occur once every 100 to 1000 years.
                        <img src="/static/img/info.png">
                    </p>
                </div>
                <div class="inner-info-divs">
                    <div class="very-low text-center" id="very-low">Very Low Risk</div>
                    <p class="text">
                        On average flood will occur once every 100 to 1000 years.
                        <img src="/static/img/info.png">
                    </p>
                </div>
            </div>
        </div>
        <div class="mini-buttons">
            <p class="danger-short">H</p>
            <p class="medium-short">M</p>
            <p class="low-short">L</p>
            <p class="vlow-short">VL</p>
        </div>
    </div>

{% endblock content %}
