<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %} Flood Check Ireland - InforNite {% endblock title %}
    </title>
    {% load staticfiles %}

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/ol.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/ol3-layerswitcher.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/ol3-popup.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">Flood Check Ireland - InforNite</a>
        </div>
      </div>
    </nav>

    <div id="map-div">
        {% block content %} {% endblock content %}
    </div>
    <!-- /#wrapper -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="{% static 'maps/js/ol.js' %}"></script>
    <script type="text/javascript" src='{% static "maps/js/ol3-layerswitcher.js" %}'></script>
    <script type="text/javascript" src='{% static "maps/js/ol3-popup.js" %}'></script>
    <script type="text/javascript" src="{% static 'maps/js/map.js' %}"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
</html>
