
html, body {
  padding: 0 !important;
  margin: 0;
  font-family: sans-serif;
  font-size: small;
}

.map {
  height: 86vh;
  width: 100%;
  position: relative;
}
#footer {
  background: #f3f1ed;
  height: 39px;
  margin-top: 4px;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.75);
}
body {
    /*overflow: hidden;*/
}
.ol-popup {
    width: 350px;
    border: 1px solid black !important;
}
.navbar {
    margin-bottom: 0;
}

.navbar-sm .navbar-primary .navbar {
  min-height:40px;
  height: 40px;
}
.navbar-sm .navbar-primary .navbar .navbar-brand{
  padding: 0px 12px;
  font-size: 16px;
  line-height: 40px;
}
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 40px;
}
.navbar-sm {
    color: white;
    background-image: linear-gradient(#52981b, #66a931, #52981b);
}
.navbar-sm a {
  color: white;
}

.navbar-sm ul a:hover {
  color: black;
}
.right-menu {
  padding-right: 20px;
}
.navbar-header{
  height: inherit;
}
.ol-zoom{
  top: 78% !important;
  left: 95% !important;
}
.ol-zoom-in, .ol-zoom-out {
    width: 28px !important;
    height: 27px !important;
    /*background: white !important;*/
    color: black !important;
    background-image: linear-gradient(#cccccc, #F5F5F5, #cccccc);
    border: 2px solid #CCCCCC !important;
    border-radius: 0 !important;
    margin: 0 !important;
}
.social {
  padding: 3px 12px;
}
.modal-one {
    margin: 47px 0 0 0;

    width: 100%;
    border-radius: 0;
    height: 50vh;
    overflow-y: auto;
}
.modal-two {
    margin: 0px;
    margin-top: 13%;
    width: 60%;
    left: 20%;
    right: 20%;
}
.modal-content {
    border-radius: 0px;
    border: 2px solid #FFf;
}
.modal-footer {
  border-top: none;
  text-align: center;
  /*padding-bottom: 0;*/
}

#accept-terms {
  background: #333;
  color: #ddd;
  padding: 15px;
  border-radius: 0px;
  bottom: 0px;
  border: 1px;
}
#location-finder {
  width: 80%;
  float: left;
  border-radius: 0px;

  background: #ececec;
  color: black;
}
#do-search {
  margin-left: 15px;
  border-radius: 0px;
  background: #ececec;
}
.heading-two {
  padding: 5px;
}
.search-box {
  padding: 5px;
}
.container-full {
  /*position: relative;*/
}
.under {
  width: 94%;
  float: left;
}
.above {
  background: black;
  height: 100vh;
  width: 6%;
  float: left;
}
.options {
  padding: 15em 1em;
}
.floating-panel {
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 58%;
  height: 200px;
}
.detail {
  color: #dcdcdc;
  font-size: 10px;
  font-weight: 100;
  line-height: 1;
  padding: 15px 15px 0 15px;
  width: 34%;
  float: left;
  background: black;
  height: inherit;
}
#floatin-head-1 {
  font-size: 16px;
}
#floatin-head-2 {
  font-size: 17px;
  text-align: center;
}
#floatin-map {
  text-align: center;
}
/*.buttons {
  width: 12%;
  width: 5%;
  height: inherit;
  float: left;
}
#floating-one {
      height: 33%;
    background: #0041ab;
    color: #ffffff;
}
#floating-two {
  height: 34%;
    background: rgba(0, 112, 171, 0.86);
    color: #ffffff;
}
#floating-three {
  height: 33%;
  background: #768e94;
    color: #ffffff;
}*/
#marker-box {
  padding-bottom: 20px;
}
#floating-swipe.clicked{
    margin-left:500px;
    -webkit-transition:1s; // you don't need to specify this again
 }
.outer-info {
  background: white none repeat scroll 0 0;
  float: left;
  height: inherit;
  overflow: auto;
  width: 66%;
}
#floating-swipe, #floating-swipe:hover {
  color: #dcdcdc;
  text-decoration: none;
}
.hide {
  display: none;
  z-index: -12;
}
.danger {
  background: #0041ab;
  padding: 5px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bolder;
  width: 18%;
  float: left;
}
.medium {
  background: rgba(0, 112, 171, 0.86);
  padding: 5px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bolder;
  width: 18%;
  float: left;
}
.low {
  background: #768e94;
  padding: 5px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bolder;
  width: 18%;
  float: left;
}

.text {
  float: left;
  width: 75%;
  padding: 4px;
}
.inner-content {
  padding: 1px;
}






