
html, body {
  padding: 0 !important;
  margin: 0;
  width: 100%;
  height: 100%;
}
.container-full {
  height: inherit;
  width: 100%;
  color: #fff;
}
#map-div {
  padding-bottom: 0.3%;
  height: 100%;
}
.map {
  height: 100%;
  width: 100%;
  position: relative;
}
#footer {
  background: #ffffff;
  height: 50px;
  -moz-box-shadow:    0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px -4px 3px rgba(50, 50, 50, 0.75);
  position: absolute;
  width: 95% !important;
  bottom: 0 !important;
}
.site-nav {
  position: absolute;
  width: 95%;
  top: 0;
  background-image: linear-gradient(#52981b, #66a931, #52981b)
}
.navbar-right {
  height: 30px;
  margin-top: -10px;
}
.nav-bar-menu {
  height: inherit;
}
.nav-bar-menu a {
  height: 40px;
}
.ol-popup {
    width: 350px;
    border: 1px solid black !important;
}
.navbar {
    margin-bottom: 0;
}

.navbar-sm .navbar-primary .navbar {
  min-height:30px;
  height: 30px;
}
.navbar-sm a {
  color: white;
}
.navbar-sm ul a:hover {
  color: black;
}
.right-menu {
  padding-right: 20px;
}
.navbar-header{
  height: inherit;
}
.ol-zoom{
    top: 77% !important;
    left: 94% !important;
    bottom: 23%;
    right: 6% !important;
}
.ol-zoom-in, .ol-zoom-out {
    width: 28px !important;
    height: 30px !important;
    color: black !important;
    background-image: linear-gradient(#cccccc, #F5F5F5, #cccccc);
    border-radius: 0 !important;
    margin: 0 !important;
}
.ol-control {
  background-color: none !important;
  background-color: rgba(255, 255, 255, 0)   !important;
}
.social {
  padding: 4px 63px;
}
.social img {
  height: 35px;
}

.modal-one {
    margin: 0;
    width: 100%;
    border-radius: 0;
}
.modal-two {
    margin: 0px;
    margin-top: 13%;
    width: 60%;
    left: 20%;
    right: 20%;
}
#terms-modal .modal-content {
    border-radius: 0px;
    border: 2px solid #FFF;
    height: 70vh;
}
#terms-modal .modal-header {
  height: 12%;
  padding: 1%;
}
#terms-modal .modal-body {
  height: 76%;
  overflow-y: auto;
}
#terms-modal .modal-footer {
  height: 10%;
  padding: 0;
  border-top: none;
  text-align: center;
}

#accept-terms {
  color: #ddd;
  padding: 15px;
  border-radius: 46%;
  bottom: 0px;
  border: 1px;
  width: 170px;
  height: 100px;
  font-size: 26px;
  color: white;
  background: #3c3939;
  outline: none !important;
}
#accept-terms:hover{
  background: black;

}
#location-finder {
  width: 80%;
  float: left;
  border-radius: 0px;
  background: #ececec;
  color: black;
}
#do-search {
  margin-left: 15px;
  border-radius: 0px;
  background: #ececec;
}
.heading-two {
  padding: 5px;
}
.search-box {
  padding: 5px;
}
.under {
  width: 95%;
  float: left;
  height: inherit;
}
.above {
  background: #242429;
  height: 100%;
  width: 5%;
  float: left;
  line-height: 100vh;
  text-align: center;
}
.options {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}
.side-buttons {
  width: 46px;
  opacity: 0.5;
  filter:alpha(opacity=50);
}
.side-buttons:hover {
  /*background: white;*/
  opacity: 1.0;
  filter:alpha(opacity=150);
}
.floating-panel {
  position: absolute;
      bottom: 13%;
  left: 0%;
  height: 138px;
  box-shadow: 0px 4px 10px rgb(31, 30, 30);
}
.detail {
  color: #fff;
  padding: 15px 15px 0 15px;
  float: left;
  background: #242429;
  height: inherit;
  line-height: 15px;
  font-size: 10pt;
  font-family: Roboto-Regular, Arial;
  width: 228px;
}
#check-1 {
  float: right;
}
#floatin-head-1 {
  font-size: 16px;
}
#floatin-head-2 {
  font-size: 17px;
  text-align: center;
}
#floatin-map {
  text-align: center;
}
.options-divs {
  padding-bottom: 10px;
}
.outer-info {
  background: white none repeat scroll 0 0;
  float: left;
  height: inherit;
  overflow: auto;
  width: 38em;
}
.inner-info-divs {
  height: 25%;
  width: 100%
}
#floating-swipe, #floating-swipe:hover {
  color: #dcdcdc;
  text-decoration: none;
}
.danger {
  background: #0041ab;
  padding: 9px;
  color: #ffffff;
  font-weight: bolder;
  /*width: 22%;*/
  width: 105px;
  float: left;
  height: 100%;
  font-size: 12px;
}
.medium {
  background: rgba(0, 112, 171, 0.86);
  padding: 9px;
  color: #ffffff;
  font-weight: bolder;
  /*width: 22%;*/
  width: 105px;
  float: left;
  height: 100%;
  font-size: 12px;
}
.low {
  background: #768e94;
  padding: 9px;
  color: #ffffff;
  font-weight: bolder;
  /*width: 22%;*/
  width: 105px;
  float: left;
  height: 100%;
  font-size: 12px;
}
.very-low {
  background: #bbdce4;
  padding: 9px;
  color: #ffffff;
  font-weight: bolder;
  /*width: 22%;*/
  width: 105px;
  float: left;
  height: 100%;
  font-size: 12px;
}
.text {
  float: left;
  margin: 0;
  border-bottom: 1px solid #dcdcdc;
  width: 78%;
  padding: 8.5px;
  height: 100%;
  color: black;
}
.text img, .text-2 img {
  float: right;
}
.inner-content {
  /*padding: 1px;*/
  height: inherit;
  line-height: 15px;
  font-size: 10pt;
  font-family: Roboto-Regular, Arial;
}
.outer-info-2 {
  width: 25em;
  background: white none repeat scroll 0 0;
  float: left;
  height: inherit;
  overflow: auto;
}
.text-2 {
  float: left;
  margin: 0;
  border-bottom: 1px solid #dcdcdc;
  width: 67%;
  padding: 8.5px;
  height: 100%;
  color: black;
}
.distance-marker {
  width: 17px;
}
#info-region {
    float: left;
    height: 93%;
    width: 60%;
}
#inner-data {
    background: #cecbca none repeat scroll 0 0;
    border-radius: 11px;
    height: inherit;
    margin: 10px;
    padding: 6px;
    box-shadow: 4px 5px 11px 3px rgba(50, 50, 50, 0.75);
}
#distance-blocks {
    float: left;
    height: 90%;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
#danger-dis {
    background: #120efc none repeat scroll 0 0;
    border-radius: 11px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 150px;
    font-size: 11px;
}
#medium-dis {
    background: #2b92fb none repeat scroll 0 0;
    border-radius: 11px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 150px;
    font-size: 11px;
}
#low-dis {
    background: #9393ff none repeat scroll 0 0;
    border-radius: 11px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 150px;
    font-size: 11px;
}
#distance-blocks p {
  margin: 0
}
#distance-blocks div {
  padding: 10px;
  margin-bottom: 10px;
}
.info_icon_2 {
  float: right;
  margin-top: -35px;
}
.info_icon_2 img {
  height: 10px;
}
.hide {
  display: none !important;
}
.error {
  color: #ab0000;
  font-size: 11px;
  font-weight: 500;
}
